<h1>Elevator Simulator Report</h1>
{% for elevator in elevators %}
    <h2>Elevator {{ loop.index }}:</h2>
    <p>Count Floors: {{ elevator.countFloors }}</p>
    <p>Positions:</p>
    <ul>
        {% for position in elevator.positions %}
            <li>Time: {{ position.time|date('H:i') }} - Floor: {{ position.floor }}</li>
        {% endfor %}
    </ul>
{% endfor %}
